@model IEnumerable<BussinessLayer.BO.Models.KoloModel>
@{
    ViewData["Title"] = "Nabídka kol";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Název
                </th>
                <th>
                    Typ
                </th>
                <th>
                    Záloha
                </th>
                <th>
                    Cena den
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Typ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zaloha) Kč
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CenaDen) Kč
                    </td>
                     <td>
                     @Html.ActionLink("Detail", "Details", new {  id=item.Id }) 
                     </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>